@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #c9933f;
  --secondary-color: #04161d;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: #fff;
    --background-end-rgb: #fff;
  }
}
/* @media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: #fff;
    --background-end-rgb: #fff;
  }
} */

body {
  color: var(--secondary-color);
  background: var(--secondary-color);
}

p,
button,
h4,
h5,
h6,
a {
  font-family: var(--font-jost);
}

h1,
h2,
h3 {
  font-family: var(--font-cormorant_garamond);
  color: var(--secondary-color);
}
