.mySwiper-food {
  /* width: 800px; */
  height: auto;
}
.swiper-slide-food {
  height: 200px;
  line-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.mySwiper-food .swiper-wrapper .food-img img {
  animation: rotateImage 60s linear infinite running;
}

.mySwiper-food .swiper-pagination {
  display: none;
}
